$primary: #ffc54d;
$primaryOpacity5: rgba(255, 197, 77, 0.5);
$primaryOpacity: rgba(255, 197, 77, 0.1);
$backgroundDark: #000;
$bgMain: #030303;
$backgroundSecondary: #0d0d0d;
$backgroundSecondaryTransaparent: rgba(21, 21, 21, 0.5);
$background: #151515;
$backgroundTransparent: rgba(255, 255, 255, 0.05);
$backgroundTransparentSecondary: rgba(255, 255, 255, 0.1);
$textPrimary: #ffffff;
$backgroundSecond: #212121;
$textSecondary: #a7a7a7;
$success: #b0d356;
$successOpacity: rgba(176, 211, 86, 0.1);
$error: rgba(246, 118, 46, 1);
$errorOpacity: rgba(246, 118, 46, 0.1);
$strokeOpacity: rgba(255, 255, 255, 0.1);
$disabled: rgba(167, 167, 167, 0.5);
$disabledOpacity: #5d5e5d;
$backgroundDarkSecondary: rgba(7, 7, 7, 1);
$blue: #4A99E9;
$blueOpacity: rgba(29, 155, 240, 0.1);