.card__logo__img {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.card {
  display: flex;
  flex-direction: column;
  z-index: 100000;
  max-width: 316px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
  transform-origin: top left;
  overflow: hidden;
  clip-path: polygon(
    99.809% 95.714%,
    99.809% 95.714%,
    99.408% 95.767%,
    99.028% 95.918%,
    98.674% 96.161%,
    98.35% 96.487%,
    98.062% 96.888%,
    97.815% 97.355%,
    97.614% 97.88%,
    97.465% 98.455%,
    97.371% 99.071%,
    97.339% 99.721%,
    97.339% 99.721%,
    97.339% 99.747%,
    97.339% 99.773%,
    97.339% 99.799%,
    97.34% 99.825%,
    97.34% 99.851%,
    97.341% 99.877%,
    97.342% 99.903%,
    97.342% 99.928%,
    97.343% 99.954%,
    97.344% 99.98%,
    94.855% 99.98%,
    94.855% 99.98%,
    94.858% 99.954%,
    94.86% 99.929%,
    94.862% 99.903%,
    94.863% 99.878%,
    94.865% 99.852%,
    94.866% 99.826%,
    94.867% 99.8%,
    94.868% 99.774%,
    94.868% 99.748%,
    94.868% 99.721%,
    94.868% 99.721%,
    94.855% 99.461%,
    94.818% 99.215%,
    94.758% 98.985%,
    94.677% 98.775%,
    94.579% 98.588%,
    94.463% 98.428%,
    94.334% 98.298%,
    94.192% 98.2%,
    94.04% 98.14%,
    93.88% 98.119%,
    93.88% 98.119%,
    93.72% 98.14%,
    93.567% 98.2%,
    93.426% 98.298%,
    93.296% 98.428%,
    93.181% 98.588%,
    93.082% 98.775%,
    93.002% 98.985%,
    92.942% 99.215%,
    92.905% 99.461%,
    92.892% 99.721%,
    92.892% 99.721%,
    92.892% 99.748%,
    92.892% 99.774%,
    92.893% 99.8%,
    92.894% 99.826%,
    92.895% 99.852%,
    92.897% 99.878%,
    92.898% 99.903%,
    92.9% 99.929%,
    92.902% 99.954%,
    92.905% 99.98%,
    90.458% 99.98%,
    90.458% 99.98%,
    90.46% 99.954%,
    90.462% 99.929%,
    90.464% 99.903%,
    90.466% 99.878%,
    90.467% 99.852%,
    90.468% 99.826%,
    90.469% 99.8%,
    90.47% 99.774%,
    90.47% 99.748%,
    90.471% 99.721%,
    90.471% 99.721%,
    90.458% 99.461%,
    90.42% 99.215%,
    90.36% 98.985%,
    90.28% 98.775%,
    90.181% 98.588%,
    90.066% 98.428%,
    89.936% 98.298%,
    89.795% 98.2%,
    89.643% 98.14%,
    89.482% 98.119%,
    89.482% 98.119%,
    89.322% 98.14%,
    89.17% 98.2%,
    89.028% 98.298%,
    88.899% 98.428%,
    88.783% 98.588%,
    88.685% 98.775%,
    88.604% 98.985%,
    88.544% 99.215%,
    88.507% 99.461%,
    88.494% 99.721%,
    88.494% 99.721%,
    88.494% 99.748%,
    88.495% 99.774%,
    88.495% 99.8%,
    88.496% 99.826%,
    88.497% 99.852%,
    88.499% 99.878%,
    88.5% 99.903%,
    88.502% 99.929%,
    88.505% 99.954%,
    88.507% 99.98%,
    86.06% 99.98%,
    86.06% 99.98%,
    86.063% 99.954%,
    86.065% 99.929%,
    86.067% 99.903%,
    86.068% 99.878%,
    86.07% 99.852%,
    86.071% 99.826%,
    86.072% 99.8%,
    86.073% 99.774%,
    86.073% 99.748%,
    86.073% 99.721%,
    86.073% 99.721%,
    86.06% 99.461%,
    86.023% 99.215%,
    85.963% 98.985%,
    85.882% 98.775%,
    85.784% 98.588%,
    85.669% 98.428%,
    85.539% 98.298%,
    85.397% 98.2%,
    85.245% 98.14%,
    85.085% 98.119%,
    85.085% 98.119%,
    84.925% 98.14%,
    84.773% 98.2%,
    84.631% 98.298%,
    84.501% 98.428%,
    84.386% 98.588%,
    84.287% 98.775%,
    84.207% 98.985%,
    84.147% 99.215%,
    84.11% 99.461%,
    84.097% 99.721%,
    84.097% 99.721%,
    84.097% 99.748%,
    84.097% 99.774%,
    84.098% 99.8%,
    84.099% 99.826%,
    84.1% 99.852%,
    84.101% 99.878%,
    84.103% 99.903%,
    84.105% 99.929%,
    84.107% 99.954%,
    84.109% 99.98%,
    81.663% 99.98%,
    81.663% 99.98%,
    81.665% 99.954%,
    81.667% 99.929%,
    81.669% 99.903%,
    81.671% 99.878%,
    81.672% 99.852%,
    81.673% 99.826%,
    81.674% 99.8%,
    81.675% 99.774%,
    81.675% 99.748%,
    81.676% 99.721%,
    81.676% 99.721%,
    81.663% 99.461%,
    81.625% 99.215%,
    81.565% 98.985%,
    81.485% 98.775%,
    81.386% 98.588%,
    81.271% 98.428%,
    81.141% 98.298%,
    81% 98.2%,
    80.848% 98.14%,
    80.687% 98.119%,
    80.687% 98.119%,
    80.527% 98.14%,
    80.375% 98.2%,
    80.233% 98.298%,
    80.104% 98.428%,
    79.988% 98.588%,
    79.89% 98.775%,
    79.809% 98.985%,
    79.749% 99.215%,
    79.712% 99.461%,
    79.699% 99.721%,
    79.699% 99.721%,
    79.699% 99.748%,
    79.7% 99.774%,
    79.7% 99.8%,
    79.701% 99.826%,
    79.702% 99.852%,
    79.704% 99.878%,
    79.705% 99.903%,
    79.707% 99.929%,
    79.71% 99.954%,
    79.712% 99.98%,
    77.265% 99.98%,
    77.265% 99.98%,
    77.268% 99.954%,
    77.27% 99.929%,
    77.272% 99.903%,
    77.273% 99.878%,
    77.275% 99.852%,
    77.276% 99.826%,
    77.277% 99.8%,
    77.278% 99.774%,
    77.278% 99.748%,
    77.278% 99.721%,
    77.278% 99.721%,
    77.265% 99.461%,
    77.228% 99.215%,
    77.168% 98.985%,
    77.088% 98.775%,
    76.989% 98.588%,
    76.874% 98.428%,
    76.744% 98.298%,
    76.602% 98.2%,
    76.45% 98.14%,
    76.29% 98.119%,
    76.29% 98.119%,
    76.13% 98.14%,
    75.978% 98.2%,
    75.836% 98.298%,
    75.706% 98.428%,
    75.591% 98.588%,
    75.492% 98.775%,
    75.412% 98.985%,
    75.352% 99.215%,
    75.315% 99.461%,
    75.302% 99.721%,
    75.302% 99.721%,
    75.302% 99.748%,
    75.302% 99.774%,
    75.303% 99.8%,
    75.304% 99.826%,
    75.305% 99.852%,
    75.306% 99.878%,
    75.308% 99.903%,
    75.31% 99.929%,
    75.312% 99.954%,
    75.315% 99.98%,
    72.868% 99.98%,
    72.868% 99.98%,
    72.87% 99.954%,
    72.872% 99.929%,
    72.874% 99.903%,
    72.876% 99.878%,
    72.877% 99.852%,
    72.878% 99.826%,
    72.879% 99.8%,
    72.88% 99.774%,
    72.881% 99.748%,
    72.881% 99.721%,
    72.881% 99.721%,
    72.868% 99.461%,
    72.83% 99.215%,
    72.77% 98.985%,
    72.69% 98.775%,
    72.591% 98.588%,
    72.476% 98.428%,
    72.346% 98.298%,
    72.205% 98.2%,
    72.053% 98.14%,
    71.892% 98.119%,
    71.892% 98.119%,
    71.732% 98.14%,
    71.58% 98.2%,
    71.438% 98.298%,
    71.309% 98.428%,
    71.194% 98.588%,
    71.095% 98.775%,
    71.014% 98.985%,
    70.954% 99.215%,
    70.917% 99.461%,
    70.904% 99.721%,
    70.904% 99.721%,
    70.904% 99.748%,
    70.905% 99.774%,
    70.905% 99.8%,
    70.906% 99.826%,
    70.907% 99.852%,
    70.909% 99.878%,
    70.911% 99.903%,
    70.912% 99.929%,
    70.915% 99.954%,
    70.917% 99.98%,
    68.47% 99.98%,
    68.47% 99.98%,
    68.472% 99.954%,
    68.474% 99.929%,
    68.476% 99.903%,
    68.478% 99.878%,
    68.479% 99.852%,
    68.48% 99.826%,
    68.481% 99.8%,
    68.482% 99.774%,
    68.482% 99.748%,
    68.483% 99.721%,
    68.483% 99.721%,
    68.47% 99.461%,
    68.432% 99.215%,
    68.372% 98.985%,
    68.292% 98.775%,
    68.193% 98.588%,
    68.078% 98.428%,
    67.949% 98.298%,
    67.807% 98.2%,
    67.655% 98.14%,
    67.495% 98.119%,
    67.495% 98.119%,
    67.334% 98.14%,
    67.182% 98.2%,
    67.041% 98.298%,
    66.911% 98.428%,
    66.796% 98.588%,
    66.697% 98.775%,
    66.617% 98.985%,
    66.557% 99.215%,
    66.519% 99.461%,
    66.506% 99.721%,
    66.506% 99.721%,
    66.506% 99.748%,
    66.507% 99.774%,
    66.508% 99.8%,
    66.509% 99.826%,
    66.51% 99.852%,
    66.511% 99.878%,
    66.513% 99.903%,
    66.515% 99.929%,
    66.517% 99.954%,
    66.519% 99.98%,
    64.073% 99.98%,
    64.073% 99.98%,
    64.075% 99.954%,
    64.077% 99.929%,
    64.079% 99.903%,
    64.081% 99.878%,
    64.082% 99.852%,
    64.083% 99.826%,
    64.084% 99.8%,
    64.085% 99.774%,
    64.085% 99.748%,
    64.085% 99.721%,
    64.085% 99.721%,
    64.073% 99.461%,
    64.035% 99.215%,
    63.975% 98.985%,
    63.895% 98.775%,
    63.796% 98.588%,
    63.681% 98.428%,
    63.551% 98.298%,
    63.41% 98.2%,
    63.258% 98.14%,
    63.097% 98.119%,
    63.097% 98.119%,
    62.937% 98.14%,
    62.785% 98.2%,
    62.643% 98.298%,
    62.514% 98.428%,
    62.399% 98.588%,
    62.3% 98.775%,
    62.219% 98.985%,
    62.16% 99.215%,
    62.122% 99.461%,
    62.109% 99.721%,
    62.109% 99.721%,
    62.109% 99.748%,
    62.11% 99.774%,
    62.11% 99.8%,
    62.111% 99.826%,
    62.112% 99.852%,
    62.114% 99.878%,
    62.116% 99.903%,
    62.118% 99.929%,
    62.12% 99.954%,
    62.122% 99.98%,
    59.675% 99.98%,
    59.675% 99.98%,
    59.677% 99.954%,
    59.679% 99.929%,
    59.681% 99.903%,
    59.683% 99.878%,
    59.684% 99.852%,
    59.686% 99.826%,
    59.686% 99.8%,
    59.687% 99.774%,
    59.688% 99.748%,
    59.688% 99.721%,
    59.688% 99.721%,
    59.675% 99.461%,
    59.637% 99.215%,
    59.577% 98.985%,
    59.497% 98.775%,
    59.398% 98.588%,
    59.283% 98.428%,
    59.154% 98.298%,
    59.012% 98.2%,
    58.86% 98.14%,
    58.699% 98.119%,
    58.699% 98.119%,
    58.539% 98.14%,
    58.387% 98.2%,
    58.245% 98.298%,
    58.116% 98.428%,
    58.001% 98.588%,
    57.902% 98.775%,
    57.822% 98.985%,
    57.762% 99.215%,
    57.724% 99.461%,
    57.711% 99.721%,
    57.711% 99.721%,
    57.712% 99.748%,
    57.712% 99.774%,
    57.713% 99.8%,
    57.714% 99.826%,
    57.715% 99.852%,
    57.716% 99.878%,
    57.718% 99.903%,
    57.72% 99.929%,
    57.722% 99.954%,
    57.724% 99.98%,
    55.278% 99.98%,
    55.278% 99.98%,
    55.28% 99.954%,
    55.282% 99.929%,
    55.284% 99.903%,
    55.286% 99.878%,
    55.287% 99.852%,
    55.288% 99.826%,
    55.289% 99.8%,
    55.29% 99.774%,
    55.29% 99.748%,
    55.291% 99.721%,
    55.291% 99.721%,
    55.278% 99.461%,
    55.24% 99.215%,
    55.18% 98.985%,
    55.1% 98.775%,
    55.001% 98.588%,
    54.886% 98.428%,
    54.757% 98.298%,
    54.615% 98.2%,
    54.463% 98.14%,
    54.303% 98.119%,
    54.303% 98.119%,
    54.142% 98.14%,
    53.99% 98.2%,
    53.848% 98.298%,
    53.719% 98.428%,
    53.604% 98.588%,
    53.505% 98.775%,
    53.425% 98.985%,
    53.365% 99.215%,
    53.327% 99.461%,
    53.314% 99.721%,
    53.314% 99.721%,
    53.314% 99.748%,
    53.315% 99.774%,
    53.315% 99.8%,
    53.316% 99.826%,
    53.318% 99.852%,
    53.319% 99.878%,
    53.321% 99.903%,
    53.323% 99.929%,
    53.325% 99.954%,
    53.327% 99.98%,
    50.88% 99.98%,
    50.88% 99.98%,
    50.882% 99.954%,
    50.884% 99.929%,
    50.886% 99.903%,
    50.888% 99.878%,
    50.889% 99.852%,
    50.891% 99.826%,
    50.892% 99.8%,
    50.892% 99.774%,
    50.893% 99.748%,
    50.893% 99.721%,
    50.893% 99.721%,
    50.88% 99.461%,
    50.842% 99.215%,
    50.782% 98.985%,
    50.702% 98.775%,
    50.603% 98.588%,
    50.488% 98.428%,
    50.359% 98.298%,
    50.217% 98.2%,
    50.065% 98.14%,
    49.904% 98.119%,
    49.904% 98.119%,
    49.744% 98.14%,
    49.592% 98.2%,
    49.45% 98.298%,
    49.321% 98.428%,
    49.206% 98.588%,
    49.107% 98.775%,
    49.027% 98.985%,
    48.967% 99.215%,
    48.929% 99.461%,
    48.916% 99.721%,
    48.916% 99.721%,
    48.917% 99.748%,
    48.917% 99.774%,
    48.918% 99.8%,
    48.919% 99.826%,
    48.92% 99.852%,
    48.921% 99.878%,
    48.923% 99.903%,
    48.925% 99.929%,
    48.927% 99.954%,
    48.929% 99.98%,
    46.482% 99.98%,
    46.482% 99.98%,
    46.485% 99.954%,
    46.487% 99.929%,
    46.489% 99.903%,
    46.49% 99.878%,
    46.492% 99.852%,
    46.493% 99.826%,
    46.494% 99.8%,
    46.495% 99.774%,
    46.495% 99.748%,
    46.495% 99.721%,
    46.495% 99.721%,
    46.482% 99.461%,
    46.445% 99.215%,
    46.385% 98.985%,
    46.304% 98.775%,
    46.206% 98.588%,
    46.091% 98.428%,
    45.961% 98.298%,
    45.819% 98.2%,
    45.667% 98.14%,
    45.507% 98.119%,
    45.507% 98.119%,
    45.347% 98.14%,
    45.195% 98.2%,
    45.053% 98.298%,
    44.923% 98.428%,
    44.808% 98.588%,
    44.709% 98.775%,
    44.629% 98.985%,
    44.569% 99.215%,
    44.532% 99.461%,
    44.519% 99.721%,
    44.519% 99.721%,
    44.519% 99.748%,
    44.519% 99.774%,
    44.52% 99.8%,
    44.521% 99.826%,
    44.522% 99.852%,
    44.523% 99.878%,
    44.525% 99.903%,
    44.527% 99.929%,
    44.529% 99.954%,
    44.532% 99.98%,
    42.085% 99.98%,
    42.085% 99.98%,
    42.087% 99.954%,
    42.089% 99.929%,
    42.091% 99.903%,
    42.093% 99.878%,
    42.095% 99.852%,
    42.096% 99.826%,
    42.097% 99.8%,
    42.097% 99.774%,
    42.098% 99.748%,
    42.098% 99.721%,
    42.098% 99.721%,
    42.085% 99.461%,
    42.047% 99.215%,
    41.987% 98.985%,
    41.907% 98.775%,
    41.808% 98.588%,
    41.693% 98.428%,
    41.564% 98.298%,
    41.422% 98.2%,
    41.27% 98.14%,
    41.109% 98.119%,
    41.109% 98.119%,
    40.949% 98.14%,
    40.797% 98.2%,
    40.655% 98.298%,
    40.526% 98.428%,
    40.411% 98.588%,
    40.312% 98.775%,
    40.232% 98.985%,
    40.172% 99.215%,
    40.134% 99.461%,
    40.121% 99.721%,
    40.121% 99.721%,
    40.121% 99.748%,
    40.122% 99.774%,
    40.122% 99.8%,
    40.123% 99.826%,
    40.125% 99.852%,
    40.126% 99.878%,
    40.128% 99.903%,
    40.13% 99.929%,
    40.132% 99.954%,
    40.134% 99.98%,
    37.687% 99.98%,
    37.687% 99.98%,
    37.69% 99.954%,
    37.692% 99.929%,
    37.694% 99.903%,
    37.695% 99.878%,
    37.697% 99.852%,
    37.698% 99.826%,
    37.699% 99.8%,
    37.699% 99.774%,
    37.7% 99.748%,
    37.7% 99.721%,
    37.7% 99.721%,
    37.687% 99.461%,
    37.65% 99.215%,
    37.59% 98.985%,
    37.509% 98.775%,
    37.411% 98.588%,
    37.295% 98.428%,
    37.166% 98.298%,
    37.024% 98.2%,
    36.872% 98.14%,
    36.712% 98.119%,
    36.712% 98.119%,
    36.552% 98.14%,
    36.4% 98.2%,
    36.258% 98.298%,
    36.128% 98.428%,
    36.013% 98.588%,
    35.914% 98.775%,
    35.834% 98.985%,
    35.774% 99.215%,
    35.737% 99.461%,
    35.724% 99.721%,
    35.724% 99.721%,
    35.724% 99.748%,
    35.724% 99.774%,
    35.725% 99.8%,
    35.726% 99.826%,
    35.727% 99.852%,
    35.728% 99.878%,
    35.73% 99.903%,
    35.732% 99.929%,
    35.734% 99.954%,
    35.737% 99.98%,
    33.29% 99.98%,
    33.29% 99.98%,
    33.292% 99.954%,
    33.295% 99.929%,
    33.296% 99.903%,
    33.298% 99.878%,
    33.3% 99.852%,
    33.301% 99.826%,
    33.302% 99.8%,
    33.302% 99.774%,
    33.303% 99.748%,
    33.303% 99.721%,
    33.303% 99.721%,
    33.29% 99.461%,
    33.252% 99.215%,
    33.193% 98.985%,
    33.112% 98.775%,
    33.013% 98.588%,
    32.898% 98.428%,
    32.769% 98.298%,
    32.627% 98.2%,
    32.475% 98.14%,
    32.315% 98.119%,
    32.315% 98.119%,
    32.154% 98.14%,
    32.002% 98.2%,
    31.861% 98.298%,
    31.731% 98.428%,
    31.616% 98.588%,
    31.517% 98.775%,
    31.437% 98.985%,
    31.377% 99.215%,
    31.339% 99.461%,
    31.326% 99.721%,
    31.326% 99.721%,
    31.326% 99.748%,
    31.327% 99.774%,
    31.328% 99.8%,
    31.328% 99.826%,
    31.33% 99.852%,
    31.331% 99.878%,
    31.333% 99.903%,
    31.335% 99.929%,
    31.337% 99.954%,
    31.339% 99.98%,
    28.892% 99.98%,
    28.892% 99.98%,
    28.895% 99.954%,
    28.897% 99.929%,
    28.899% 99.903%,
    28.9% 99.878%,
    28.902% 99.852%,
    28.903% 99.826%,
    28.904% 99.8%,
    28.904% 99.774%,
    28.905% 99.748%,
    28.905% 99.721%,
    28.905% 99.721%,
    28.892% 99.461%,
    28.855% 99.215%,
    28.795% 98.985%,
    28.714% 98.775%,
    28.616% 98.588%,
    28.501% 98.428%,
    28.371% 98.298%,
    28.229% 98.2%,
    28.077% 98.14%,
    27.917% 98.119%,
    27.917% 98.119%,
    27.757% 98.14%,
    27.605% 98.2%,
    27.463% 98.298%,
    27.333% 98.428%,
    27.218% 98.588%,
    27.119% 98.775%,
    27.039% 98.985%,
    26.979% 99.215%,
    26.942% 99.461%,
    26.929% 99.721%,
    26.929% 99.721%,
    26.929% 99.748%,
    26.929% 99.774%,
    26.93% 99.8%,
    26.931% 99.826%,
    26.932% 99.852%,
    26.933% 99.878%,
    26.935% 99.903%,
    26.937% 99.929%,
    26.939% 99.954%,
    26.942% 99.98%,
    24.494% 99.98%,
    24.494% 99.98%,
    24.497% 99.954%,
    24.499% 99.929%,
    24.501% 99.903%,
    24.503% 99.878%,
    24.504% 99.852%,
    24.505% 99.826%,
    24.506% 99.8%,
    24.507% 99.774%,
    24.507% 99.748%,
    24.507% 99.721%,
    24.507% 99.721%,
    24.494% 99.461%,
    24.457% 99.215%,
    24.397% 98.985%,
    24.317% 98.775%,
    24.218% 98.588%,
    24.103% 98.428%,
    23.973% 98.298%,
    23.831% 98.2%,
    23.679% 98.14%,
    23.519% 98.119%,
    23.519% 98.119%,
    23.359% 98.14%,
    23.207% 98.2%,
    23.065% 98.298%,
    22.936% 98.428%,
    22.82% 98.588%,
    22.722% 98.775%,
    22.641% 98.985%,
    22.581% 99.215%,
    22.544% 99.461%,
    22.531% 99.721%,
    22.531% 99.721%,
    22.531% 99.748%,
    22.532% 99.774%,
    22.532% 99.8%,
    22.533% 99.826%,
    22.534% 99.852%,
    22.536% 99.878%,
    22.538% 99.903%,
    22.54% 99.929%,
    22.542% 99.954%,
    22.544% 99.98%,
    20.097% 99.98%,
    20.097% 99.98%,
    20.099% 99.954%,
    20.102% 99.929%,
    20.104% 99.903%,
    20.105% 99.878%,
    20.107% 99.852%,
    20.108% 99.826%,
    20.109% 99.8%,
    20.11% 99.774%,
    20.11% 99.748%,
    20.11% 99.721%,
    20.11% 99.721%,
    20.097% 99.461%,
    20.06% 99.215%,
    20% 98.985%,
    19.919% 98.775%,
    19.821% 98.588%,
    19.706% 98.428%,
    19.576% 98.298%,
    19.434% 98.2%,
    19.282% 98.14%,
    19.122% 98.119%,
    19.122% 98.119%,
    18.962% 98.14%,
    18.81% 98.2%,
    18.668% 98.298%,
    18.538% 98.428%,
    18.423% 98.588%,
    18.324% 98.775%,
    18.244% 98.985%,
    18.184% 99.215%,
    18.147% 99.461%,
    18.134% 99.721%,
    18.134% 99.721%,
    18.134% 99.748%,
    18.134% 99.774%,
    18.135% 99.8%,
    18.136% 99.826%,
    18.137% 99.852%,
    18.139% 99.878%,
    18.14% 99.903%,
    18.142% 99.929%,
    18.144% 99.954%,
    18.147% 99.98%,
    15.699% 99.98%,
    15.699% 99.98%,
    15.702% 99.954%,
    15.704% 99.929%,
    15.706% 99.903%,
    15.708% 99.878%,
    15.709% 99.852%,
    15.71% 99.826%,
    15.711% 99.8%,
    15.712% 99.774%,
    15.712% 99.748%,
    15.712% 99.721%,
    15.712% 99.721%,
    15.7% 99.461%,
    15.662% 99.215%,
    15.602% 98.985%,
    15.522% 98.775%,
    15.423% 98.588%,
    15.308% 98.428%,
    15.178% 98.298%,
    15.037% 98.2%,
    14.884% 98.14%,
    14.724% 98.119%,
    14.724% 98.119%,
    14.564% 98.14%,
    14.412% 98.2%,
    14.27% 98.298%,
    14.141% 98.428%,
    14.025% 98.588%,
    13.927% 98.775%,
    13.846% 98.985%,
    13.787% 99.215%,
    13.749% 99.461%,
    13.736% 99.721%,
    13.736% 99.721%,
    13.736% 99.748%,
    13.737% 99.774%,
    13.737% 99.8%,
    13.738% 99.826%,
    13.739% 99.852%,
    13.741% 99.878%,
    13.742% 99.903%,
    13.744% 99.929%,
    13.746% 99.954%,
    13.749% 99.98%,
    11.302% 99.98%,
    11.302% 99.98%,
    11.305% 99.954%,
    11.307% 99.929%,
    11.309% 99.903%,
    11.31% 99.878%,
    11.312% 99.852%,
    11.313% 99.826%,
    11.314% 99.8%,
    11.315% 99.774%,
    11.315% 99.748%,
    11.315% 99.721%,
    11.315% 99.721%,
    11.302% 99.461%,
    11.265% 99.215%,
    11.205% 98.985%,
    11.124% 98.775%,
    11.026% 98.588%,
    10.911% 98.428%,
    10.781% 98.298%,
    10.639% 98.2%,
    10.487% 98.14%,
    10.327% 98.119%,
    10.327% 98.119%,
    10.167% 98.14%,
    10.015% 98.2%,
    9.873% 98.298%,
    9.743% 98.428%,
    9.628% 98.588%,
    9.529% 98.775%,
    9.449% 98.985%,
    9.389% 99.215%,
    9.352% 99.461%,
    9.339% 99.721%,
    9.339% 99.721%,
    9.339% 99.748%,
    9.339% 99.774%,
    9.34% 99.8%,
    9.341% 99.826%,
    9.342% 99.852%,
    9.344% 99.878%,
    9.345% 99.903%,
    9.347% 99.929%,
    9.349% 99.954%,
    9.352% 99.98%,
    6.905% 99.98%,
    6.905% 99.98%,
    6.907% 99.954%,
    6.909% 99.929%,
    6.911% 99.903%,
    6.913% 99.878%,
    6.914% 99.852%,
    6.915% 99.826%,
    6.916% 99.8%,
    6.917% 99.774%,
    6.917% 99.748%,
    6.918% 99.721%,
    6.918% 99.721%,
    6.905% 99.461%,
    6.867% 99.215%,
    6.807% 98.985%,
    6.727% 98.775%,
    6.628% 98.588%,
    6.513% 98.428%,
    6.383% 98.298%,
    6.242% 98.2%,
    6.09% 98.14%,
    5.929% 98.119%,
    5.929% 98.119%,
    5.769% 98.14%,
    5.617% 98.2%,
    5.475% 98.298%,
    5.346% 98.428%,
    5.23% 98.588%,
    5.132% 98.775%,
    5.051% 98.985%,
    4.991% 99.215%,
    4.954% 99.461%,
    4.941% 99.721%,
    4.941% 99.721%,
    4.941% 99.748%,
    4.941% 99.774%,
    4.942% 99.8%,
    4.943% 99.826%,
    4.944% 99.852%,
    4.946% 99.878%,
    4.947% 99.903%,
    4.949% 99.929%,
    4.951% 99.954%,
    4.954% 99.98%,
    2.465% 99.98%,
    2.465% 99.98%,
    2.466% 99.954%,
    2.467% 99.928%,
    2.468% 99.903%,
    2.468% 99.877%,
    2.469% 99.851%,
    2.469% 99.825%,
    2.47% 99.799%,
    2.47% 99.773%,
    2.47% 99.747%,
    2.47% 99.721%,
    2.47% 99.721%,
    2.438% 99.071%,
    2.345% 98.455%,
    2.195% 97.88%,
    1.994% 97.355%,
    1.747% 96.888%,
    1.459% 96.487%,
    1.135% 96.161%,
    0.781% 95.918%,
    0.401% 95.767%,
    0% 95.714%,
    0% 0%,
    50.791% 0%,
    99.809% 0%,
    99.809% 95.714%
  );
  background: $backgroundSecond;
  @include transition();

  @include ph {
    margin: 0 auto;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(300deg, #06f, #043893, #080a28);
    background-size: 180% 180%;
    animation: gradient-animation 6s ease infinite;
    width: 100%;
    height: 107px;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    width: 100%;
    color: $primary;
    font-family: Bungee;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include tb {
      font-size: 16px;
    }
  }

  & > div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    gap: 42px;
    padding: 20px;
    width: 100%;

    & > svg {
      width: 24px;
      height: 24px;
      min-width: 24px;
      color: $primary;
      @include transition();
    }

    @include tb {
      padding: 16px;
      gap: 32px;

      & > svg {
        width: 16px;
        height: 16px;
        min-width: 16px;
      }
    }
  }

  &:hover {
    background: $primary;
    transform: rotate(2.505deg);

    span {
      color: $backgroundDark !important;
    }

    svg {
      color: $backgroundDark !important;
    }
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
