.container {
  display: flex;
  height: 56px;
  padding: 0 24px;
  align-items: center;
  gap: 16px;
  justify-content: center;
  align-self: stretch;
  border-radius: 15px;
  border: 2px solid $primary;
  background: $primary;
  white-space: nowrap;
  color: $backgroundDark;
  @include transition();
  cursor: pointer;

  /* tv_body_bungee */
  font-family: Bungee;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 30.8px */

  @include tb {
    font-size: 18px;
    height: 48px;
    gap: 24px;
  }

  @include ph {
    gap: 8px;
    border-radius: 53.333px;
    height: unset;
    border: 1px solid $primary;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 100%;
  }

  &:hover {
    background: transparent;
    color: $primary;
  }

  & > svg {
    width: 24px;
    height: 24px;

    @include ph {
      width: 16px;
      height: 16px;
    }
  }
}
